@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-gray: #f9f9f9;
  --foreground: #0f102a;
  --white: #ffffff;
  --blue: #434f90;
  --red: #e26f6f;
  --navy-100: #b5bac5;
  --gray-100: #efefef;
  --gray-200: #cbcedb;
  --gray-300: #bec1c9;
  --gray-500: #6f7282;
  --gray-700: #94949d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Helvetica Neue", Arial, sans-serif;
}
